h1 {
	font-family: monospace;
	font-size: 3em; 
	font-weight: 400; 
	color: #505050;
	text-align: center; 
}

.wrapper {
	margin: 0 auto;
	width: 50%; 
}

table {
	width: 50%; 

}

tr {
	height: 2em;
	font-family: monospace;
	font-size: 1em;
}

th {
	width: 50%; 
	text-align: right; 
	font-weight: 100;  
	padding-right: 10px; 
}

td {
	width: 50%; 
}

.sendbtn {
	background: #009ada;
	border: 1px solid #000; 
	border-radius: 3px; 
	color: #fff;
	padding: 5px 20px; 
}

pre {
	width: 50%; 
	margin: 20px auto; 
}


